<h1>CAT FINDER</h1>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <%= link_to cat_path(cat) do %>
        <%= cat.name %> - <%= cat.address %>
      <% end %>
      -
      <%= link_to "delete", cat_path(cat), method: :delete %>
    </li>
  <% end %>
</ul>


<br>

<%= link_to 'new cat', new_cat_path, class: 'btn btn-primary'  %>
